<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(admin.skin) >= 0,
                     'bg-white': admin.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(admin.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(admin.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(admin.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(admin.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(admin.skin) >= 0,
                    }">
        <a href="#/">
            <!--<span class="logo-icon glyphicon glyphicon-leaf"></span><span class="logo-text">{{main.brand}}</span>-->
            <span class="logo-text">{{main.brand}}</span>

        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>
        </ul> 

        <ul class="nav-right pull-right list-unstyled">

            <li class="dropdown text-normal nav-profile" dropdown is-open="status.isopenProfile">
                <a href="javascript:;" dropdown-toggle ng-disabled="disabled">
                    <img src="/images/icon__wrench.png" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-translate="CARL"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#/pages/profile">
                            <i class="ti-user"></i>
                            <span data-translate="UPDATE_MY_PROFILE"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/app/tasks">
                            <i class="ti-check-box"></i>
                            <span data-translate="VIEW_CERTIFICATES"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="ti-lock"></i>
                            <span data-translate="REQUEST_CLOSURE"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/lock-screen">
                            <i class="ti-arrow-left"></i>
                            <span data-translate="REQUEST_TRANSFER"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/signin">
                            <i class="ti-export"></i>
                            <span data-translate="LOG_OUT"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown langs text-normal" dropdown is-open="status.isopenLang" data-ng-controller="LangCtrl">
                <a href="javascript:;" class="active-flag" dropdown-toggle ng-disabled="disabled">
                    <!--<div class="flag {{ getFlag() }}"></div>-->
                    <p>Dealership</p>
                </a>
                <ul class="dropdown-menu with-arrow  pull-right list-langs" role="menu">
                    <li data-ng-show="lang !== 'English' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> Abbey Equipment</a></li>-->
                    <li data-ng-show="lang !== 'Español' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('Español')"><div class="flag flags-spain"></div> Español</a></li>-->
                        <a href="">Abbey Equipment</a>
                    <li data-ng-show="lang !== 'Portugal' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('Portugal')"><div class="flag flags-portugal"></div> Portugal</a></li>-->
                        <a href="">Adams Equipment</a>
                    <li data-ng-show="lang !== '中文' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('中文')"><div class="flag flags-china"></div> 中文</a></li>-->
                        <a href="">Aeschliman Equipment</a>
                    <li data-ng-show="lang !== '日本語' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('日本語')"><div class="flag flags-japan"></div> 日本語</a></li>-->
                        <a href="">Alaska Tractor</a>
                    <li data-ng-show="lang !== 'Русский язык' ">
                        <!--<a href="javascript:;" data-ng-click="setLang('Русский язык')"><div class="flag flags-russia"></div> Русский язык</a></li>-->
                        <a href="">Allen Farm and Lawn Equipment</a>
                </ul>
            </li>
        </ul>
    </div>

</header>
