<h1>Dashboard</h1>

<div class="page page-profile">

    <header class="profile-header">

        <div class="profile-info"></div>
    </header>

<!--Row 1-->
    <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
                <div class="box-info">
                    <p class="size-h2">1</p>
                    <p class="text-muted">Diagnostics</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                    <!--<i class="ti-camera"></i>-->
                </span>
                <div class="box-info">
                    <p class="size-h2">2</p>
                    <p class="text-muted">Tools</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                    <!--<i class="ti-bookmark"></i>-->
                </span>
                <div class="box-info">
                    <p class="size-h2">3</p>
                    <p class="text-muted">Fluids</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-info">
                    <!--<i class="ti-check"></i>-->
                </span>
                <div class="box-info">
                    <p class="size-h2">4</p>
                    <p class="text-muted">Battery</p>
                </div>
            </div>
        </div>
    </div>

<!--Row 2-->

        <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
                <div class="box-info">
                    <p class="size-h2">1</p>
                    <p class="text-muted">Diagnostics</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                </span>
                <div class="box-info">
                    <p class="size-h2">2</p>
                    <p class="text-muted">Tools</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                </span>
                <div class="box-info">
                    <p class="size-h2">3</p>
                    <p class="text-muted">Fluids</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-info">
                </span>
                <div class="box-info">
                    <p class="size-h2">4</p>
                    <p class="text-muted">Battery</p>
                </div>
            </div>
        </div>
    </div>

    <!--Row 3 -->

        <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
                <div class="box-info">
                    <p class="size-h2">1</p>
                    <p class="text-muted">Diagnostics</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                </span>
                <div class="box-info">
                    <p class="size-h2">2</p>
                    <p class="text-muted">Tools</p>
                </div>
            </div>                    
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                </span>
                <div class="box-info">
                    <p class="size-h2">3</p>
                    <p class="text-muted">Fluids</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <div class="box-info">
                    <p class="text-muted">Battery</p>
                </div>
            </div>
        </div>
    </div>
</div>